/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(#F9FAFB ,#D2D6DB);
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-top: 7.5rem;
}

.blog-card{
  width: 21.5rem;
  margin: auto;
  align-items: center;
  height: 31.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 3px 1px 10px #D2D6DB;
}

.display{
  width: 100%;
  height: 18rem;
  background-image: url('../img/spacejoy-YqFz7UMm8qE-unsplash.jpg');
  background-size: cover;
  background-position: left;
  border-radius: 0.5rem 0.5rem 0 0;
}

.blog-content{
  padding: 24px 16px;
}

.card-type{
  width: max-content;
  background-color: #F0FDF4;
  color: #15803D;
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: .8rem;
  border: 2px solid #BBF7D0;
}

.blog-title{
  font-size: 1.1rem;
  color: #171717;
}

.blog-about{
  color: #525252;
  font-weight: 500;
}

.ref-link{
  color: #4338CA;
  font-weight: 500;
  text-decoration: none;
}

.ref-link:hover,.ref-link:focus{
  color: #3730A3;
  border-radius: 9px;
  border: 3px solid #a099f5bc;
  padding: 1px;
}

.disable{
  color:#777 ;
}
.credits {
  color: #777;
  text-align: center;
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
